name: Check lint and tests

on:
  push:
    branches: [ main ]
    paths:
      - '**.kt'
      - '**.kts'
      - 'gradle.properties'
      - '.github/workflows/check.yml'
      - 'gradle/**'
  pull_request:
    branches: [ main ]
    paths:
      - '**.kt'
      - '**.kts'
      - 'gradle.properties'
      - '.github/workflows/check.yml'
      - 'gradle/**'
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: "Check"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: ${{ vars.JVM_DISTRIBUTION }}
          java-version: ${{ vars.JVM_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v3

      - name: Cache konan directory
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('**/build.gradle.kts') }}
          restore-keys: "${{ runner.os }}-konan-"

      - name: Check
        run: ./gradlew check